
*{
    margin: 0;
    padding: 0;
}

body{
    background-image:linear-gradient(rgb(255, 255, 255),rgb(89, 89, 148));
    background-repeat: no-repeat;
    height:100vh;
    display:flex;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    display:flex;
    justify-content: space-evenly;
    background-color: transparent;
    width: 600px;
    height: 700px;
    margin:-15px auto;
    right:0;
    left:0;
    perspective: 1500px; 
}
.flip{
    position: absolute;
    width: 100%;
    /* height: ; */
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 20px 0px rgb(58, 58, 58);
}
.containerfront{
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    display:flex;
    background-color: rgb(53,53,62, 100);
    border-radius:15px;
    height:700px;
    width:600px;
    margin-top:60px;
    text-align:center;
    box-shadow: 0px 10px 20px 0px rgb(58, 58, 58);
    transition: transform 0.6s;
    transform-style: preserve-3d; 
}
.inner{
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    border:rgb(233, 233, 233, 100) solid 8px;
    background-color:rgb(68, 68, 78, 100);
    border-radius:15px;
    height:650px;
    width:550px;
    top:18px;
    text-align:center;
    overflow:hidden;
}
.image{
    position:absolute;
    width:200px;
    height:200px;
    background-color:black;
    border: 5px rgb(255, 255, 255) solid;
    border-radius:150px;
    right:0;
    left:0;
    margin:auto;
    top:15px;
    overflow:hidden;
}
ul{
    text-align:center;
    width:50%;
    margin:auto;
    left:0;
    right:0;
}
.name{
    position:absolute;
    width:300px;
    font-size: 30px;
    bottom:350px;
    left:0;
    right:0;
    margin:auto;
    height:50px;
    color:white;
}

.location{
    position:absolute;
    font-size: 20px;
    width:100px;
    height:30px;
    bottom:330px;
    left:0;
    right:0;
    margin:auto;    
    color:white;
}

.description{
    position:absolute;
    font-size:15px;
    margin:auto;
    left:0;
    right:0;

}
.description2{
    position:absolute;
    font-size:15px;
    top:40px;
    margin:auto;
    left:0;
    right:0;
}
.containerdesc{
    position:absolute;
    width:520px;
    height:300px;
    background-color:rgb(233, 233, 233, 100);
    border-radius:10px;
    bottom:15px;
    margin:auto;
    left:0px;
    right:0px;
}
.rating{
    top:93px;
    position:absolute;
    margin:auto;
    left:0;
    right:0;
}
#stars{
    width:20%; 
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    top:80px;
}

.more{
    position:absolute;
    width:150px;
    height:70px;
    background-color:rgb(68, 68, 78, 100);
    bottom:40px;
    margin:auto;
    left:0;
    right:0;
    border-radius:15px;
    color:white;
}
.containerback{
    /* position:absolute; */
    margin:auto;
    left:0;
    right:0;
    display:flex;
    background-color: rgb(188,188,188,100);
    border-radius:15px;
    height:700px;
    width:600px;
    margin-top:60px;
    text-align:center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(-180deg)
}
.back{
    margin:auto;
    left:0;
    right:0;
    border:rgb(68, 68, 78, 100) solid 8px;
    background-color:rgb(233, 233, 233, 100);
    border-radius:15px;
    height:650px;
    width:550px;
    top:18px;
    text-align:center;
    overflow:hidden;
}

.container:hover .flip {
  transform: rotateY(-180deg);
}

.containerfront, .containerback  {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
